.profilepage {
    display: flex;
    height: 100vh;
    background-image: url(https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1470951916671-6BFFPWQEG68L0R9LZL28/McQueen12.jpg);
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.profileinfo {
    border: 3px solid;
    padding: 20px;
    background-color: #EBAF79;
    opacity: 0.8;
    width: 450px;
}

.profileinfo p {
    border: 1px solid;
    border-radius: 15px;
    padding: 20px;
    color: black;
    font-weight: bolder;
}